@charset "utf-8";
/* CSS Document */
body{
	font-family:Verdana, Geneva, sans-serif;
}

#outer-wrapper{
}
#main{
	width:74%;
	float:left;
}
#archives{
	padding-left:10px;
	float:right;
	width:25%;
	border-left:2px #666 solid;

}

a{
	text-decoration:none;
}
#content{
	width: 75%;
	font-size:18px;
	text-align:justify;
	margin: auto;
	border:1px #06F solid;
	padding: 30px;
	border-radius:10px;
}
#head{
	background:#999;
	height:100px;
	line-height:100px;
	padding-left:30px;
	font-family:Verdana, Geneva, sans-serif;
}
#head a:link {
COLOR: #666;
}
#head a:visited {
COLOR: #666;
}
#head a:hover {
COLOR: #33F;
transition-duration:1.5s;
}
#head a:active {
COLOR: #00FF00;
}


